/* general */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Verdana';
	color: white;
	width: 100%;
}
ul,
li,
a {
	text-decoration: none;
	list-style-type: none;
}
.title {
	font-size: 30px;
	font-weight: bold;
	padding: 1rem 0;
	color: black;
}
.btn {
	background-color: transparent;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
img {
	background-color: rgb(216, 218, 218);
}
.card {
	width: 250px;
	box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.418);
	border-radius: 0.6rem;
	background-color: white;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.card:hover {
	background-color: rgba(204, 203, 203, 0.74);
	transform: scale(1.03);
}

/* nav */
header {
	width: 100%;
	height: 2.3rem;
	background-color: black;
	position: fixed;
	display: flex;
	align-items: center;
}
.navbar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1050px;
}

.nav {
	display: flex;
	width: 50%;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}
.nav li {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transform-origin: left;
	transition: all 0.3s ease-in;
}
.nav li:hover {
	background-color: rgb(73, 73, 73);
}

/* main */
.main {
	height: 100vh;
	width: 100%;
	margin-top: 2.3rem;
}
.hero-main {
	height: 75%;
	width: 100%;
	display: flex;
	background-color: rgb(255, 249, 241);
}
/* hero */
.hero {
	background-image: url('../../assets/images/img3.jpg');
	background-position: center;
	background-size: cover;
	height: 70%;
	width: 100%;
}

.left h3 {
	font-size: 3.5rem;
	font-weight: bolder;
	margin: 8px 0;
}
.left p {
	max-width: 600px;
}
.hero_content {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-end;
	padding: 4rem 0 0.8rem 0;
}

/* cards */
.hero_cards {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	margin-top: 0.6rem;
}
.card img {
	width: 100%;
	height: 145px;
	border-top-right-radius: 0.6rem;
	border-top-left-radius: 0.6rem;
	object-fit: cover;
	object-position: center;
}
.card p {
	color: black;
	padding: 0.8rem;
}

/* about us */
.about {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	padding: 1rem 0;
	color: black;
}
.about-wraper {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.about_right {
	margin-left: 1.5rem;
}
.about_right h3 {
	font-size: 22px;
	font-weight: bolder;
	margin-bottom: 10px;
}
.about_right p {
	font-weight: lighter;
}
.about_left img {
	width: 400px;
	height: 230px;
}
.reserve-btn {
	margin-top: 1.5rem;
	padding: 1rem 1.5rem;
	font-weight: 500;
	border: 1.6px solid grey;
	color: grey;
}

.reserve-btn:hover {
	background-color: grey;
	color: white;
}

/* services */
.services {
	color: black;
	width: 100%;
}
.services-wraper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.service-item {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	text-align: center;
	color: black;
	margin: 1.3rem;
	width: 230px;
	padding: 1rem;
	border: 1px solid rgb(168, 168, 168);
	border-radius: 0.3rem;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.service-item h3 {
	margin: 0 0 7px 0;
}

.service-item:hover {
	background-color: rgba(189, 188, 188, 0.747);
	border-color: rgb(168, 168, 168);
}
/* places */
.places {
	color: black;
}
.places_images {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 1rem 0;
}
.places_images img {
	margin: 0.6rem;
	border-radius: 0.6rem;
	object-fit: cover;
	object-position: center;
}
.image-1 {
	width: 170px;
	height: 320px;
	flex: 1;
}
.image-2 {
	width: 170px;
	height: 170px;
}
.image-3 {
	width: 170px;
	height: 320px;
}
.image-4 {
	width: 170px;
	height: 170px;
}
.image-5 {
	width: 170px;
	height: 170px;
	flex: 2;
}
.image-6 {
	height: 200px;
	width: calc(100% + 0.6rem);
}
/* contact */
.contact {
	color: black;
}
.contact-info {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 2rem;
}
.mail,
.call {
	text-align: center;
}
.mail i,
.call i {
	font-size: 18px;
	font-weight: 600;
	margin: 0.8rem 0;
}
.mail p,
.call p {
	font-size: 20px;
	font-weight: 200;
}
/* footer */
footer {
	margin-top: 1rem;
	background-color: black;
}
.footer-card {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.footer-card h2 {
	font-weight: bold;
	margin-bottom: 1rem;
}
.footer-card ul li,
.footer-card p {
	font-weight: 100;
	font-size: 15px;
}
.footer-card p {
	margin-bottom: 1rem;
}
.footer-wraper {
	display: flex;
	padding: 2.5rem 0;
	width: 100%;
	justify-content: space-between;
}
.footer-card input {
	background-color: transparent;
	border: 1px solid green;
	border-radius: 0.6rem;
	color: white;
	padding: 1rem;
}
.cr {
	padding: 1rem 0;
	border-top: 1px solid rgba(128, 128, 128, 0.589);
	width: 100%;
	color: rgba(68, 68, 68, 0.726);
	justify-content: center;
	text-align: center;
}
